.logInModal {
  width: 300px;
  height: 180px;
  position: absolute;
  padding: 30px 0px;
  right: 60px;
  top: 40px;
  color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: none;

  .logInContainer {
    background-color: #00000096;
    width: 280px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & input {
      box-sizing: border-box;
      width: 250px;
      height: 30px;
      outline: none;
      margin-bottom: 5px;
    }

    & button {
      box-sizing: border-box;
      background-color: #c40a1b;
      width: 250px;
      height: 30px;
      font-size: 20px;
      font-weight: 600;
      color: #e5e5e5;
      border: 0;
      margin-top: 15px;
      cursor: pointer;
    }

    & p {
      font-size: 12px;
      span {
        color: blue;
      }
    }
  }
}
