.cartWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boxControl {
  width: 1200px;
  padding-top: 100px;
  color: #e5e5e5;
  display: flex;
  justify-content: start;
  align-items: center;
  .box-all-select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #66666666;
    border: 1px solid #666666;
    margin-right: 20px;

    input[type='checkbox'] {
      width: 15px;
      height: 15px;
      cursor: pointer;
      margin-right: 10px;
    }
    p {
      color: #e5e5e5;
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #66666666;
    border: 1px solid #666666;
    width: 100px;
    height: 30px;
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
      color: #b63b3b;
      margin-right: 5px;
    }
    p {
      color: #e5e5e5;
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }
  }
}

.cart {
  width: 1200px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;

  .cartItemList {
    background-color: #131313;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 220px;
    margin: 20px 0px;
    border: 1px solid #919191;
    color: #e5e5e5;
    padding: 10px;
    .orderCheck {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 20px;
      margin-right: 15px;
      input[type='checkbox'] {
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
    }
    .cartItem__img {
      width: 14%;
      height: 100%;
      margin-right: 100px;
      & img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  & ul {
    display: flex;
    margin-right: 20px;
    li {
      color: #e5e5e5;
      font-weight: 700;
      border-radius: 5px;
      text-transform: uppercase;
      margin: 5px 5px;
      padding: 3px 5px;
      background-color: #ac8b29;
      list-style: none;
    }
  }
}

.cartInfo {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-right: 150px;
  height: 100%;
  & > h1 {
    font-size: 20px;
  }

  .cartAverage {
    display: flex;
    .averageImg {
      margin-right: 10px;
    }
    svg {
      width: 20px;
      height: 20px;
    }
    .avaerageNum {
      font-weight: 800;
    }
  }

  .cartInfo__metaData {
    display: flex;
    justify-content: start;
    .moviedDte {
      background-color: #b66d3b;
      font-size: 14px;
      border-radius: 3px;
      padding: 2px;
      margin: 0px;
      color: #e5e5e5;
      margin-right: 10px;
      font-weight: 700;
    }
    .movieTime {
      background-color: #3b7bb6;
      font-size: 14px;
      border-radius: 3px;
      padding: 2px;
      margin: 0px;
      color: #e5e5e5;
      font-weight: 700;
    }
  }
}

.genres {
  color: #454545;
  font-weight: 600;
  margin: 0;
  & > span {
    color: #e5e5e5;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 5px 5px;
    padding: 3px 5px;
    background-color: #ac8b29;
  }
}

.language {
  color: #454545;
  font-weight: 600;
  margin: 0;
  & > span {
    color: #e5e5e5;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 5px 5px;
    padding: 3px 5px;
    background-color: #666666;
  }
}

.rentalTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-right: 100px;
  padding-top: 5px;
  h2 {
    font-size: 20px;
    margin-bottom: 50px;
  }
  p {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
  }
  & > .addRentalTime {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    svg {
      margin: 0px 10px;
      width: 22px;
      height: 22px;
      cursor: pointer;
    }
  }
  .retalDate {
    p {
      margin: 5px 0px;
      font-size: 14px;
    }
  }
}
.rentalPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 5px;
  margin-right: 70px;
  h2 {
    font-size: 20px;
    margin-bottom: 50px;
  }
  p {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
    color: #3ce21e;
  }
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
  }
}
.listClose {
  display: flex;
  svg {
    width: 22px;
    height: 22px;
  }
}

.totalPrice {
  width: 100%;
  height: 100px;
  display: flex;
  color: #e5e5e5;
  font-weight: 700;
  margin-bottom: 200px;
  & > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    border-top: 2px solid #66666666;
    margin: auto;
    padding: 50px;
    p {
      margin: 0;
    }
  }

  button {
    background-color: #b63b3b;
    border-radius: 10px;
    width: 200px;
    height: 80px;
    color: #e5e5e5;
    font-size: 25px;
    font-weight: 700;
    border: 0;
  }

  .selectAllMovieWrap,
  .selectAllTimeWrap,
  .selectAllPriceWrap {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    div {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
    p {
      font-size: 24px;
    }
    span {
      margin-left: 10px;
      font-size: 24px;
    }
  }

  .selectAllMovieWrap p {
    // color: #b63b3b;
  }
  .selectAllTimeWrap p {
    // color: #3b7bb6;
  }
  .selectAllPriceWrap p {
    color: #3ce21e;
  }
}
