.menuBarContainer{
  background-color: rgb(20, 20, 20);
  display: flex;
  width: 100%;
  height: 60px;
    position: fixed;
  & ul{
    padding:0px 70px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-items: center;
    justify-content: space-between;
  }
}

.menuBar__logo{
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  & >img{
    width: 40px;
    height: 30px;
  }
  & > p{
    padding-left: 10px;
    font-family: cursive;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #e34444;
    margin: 0;
    display: flex;

  }
}

.menuBar__Lists{
  display: flex;
  margin-left: 40px;
  align-items: center;
  & p{
    color: #e5e5e5;
    font-family: sans-serif;
    margin: 0px 10px;
  }
}

.menuBar__Icon{
  display: flex;
  align-items: center;
  & svg{
    color: #e5e5e5;
    width: 30px;
    height: 30px;
    margin: 0px 10px;
  }
  & > img{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
  }
}