.movieRec {
  & > h2 {
    margin: 20px 10px;
  }
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  padding: 80px;
  ul {
    display: flex;
    overflow-x: visible;
    overflow-y: scroll;
    overflow-y: hidden;
    cursor: pointer;
    li {
      margin: 0px 10px;
      list-style: none;
      h3 {
        text-align: center;
        color: #666666;
      }
    }
  }
}
