.pickList {
  width: 1200px;
  padding-top: 80px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    width: 250px;
    height: 350px;
    margin: 20px 0px;
    cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
